
.root {
    background-image: linear-gradient(to right bottom, #328cff, #a5b3ff);
}

.toolbar {
    display: flex;
    justify-content: center;
}

.icon {
    margin-left: 10px;
}

.title {
    font-size: 2rem;
    font-family: "Varela Round", serif;
    font-weight: bold;
}
